<form  class="form" (ngSubmit)="onSubmit()">
    <label for="">Firstname</label><br>
    <input type="text" name="fname">
    <br><br>
    <label for="">Lastname</label><br>
    <input type="text" name="lname">
    <br><br>
    <label for="">E-mail</label><br>
    <input type="email" name="email">
    <br><br>
    <label for="">Password</label><br>
    <input type="text" name="password">
    <br><br>
    <label for="">Confirm password</label><br>
    <input type="text" name="cpassword">
    <br><br>
    <label for="">DOB</label><br>
    <input type="date" name="DOB">
    <br><br>
    <div class="from-group">
        <label for="">Gender :</label><br>
        <label><input type="radio" name="gender" value="Male"> male</label>
        <label><input type="radio" name="gender" value="Female">female </label>
    </div>

    <button type="submit">submit</button>
</form>
